/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2017, 10:35:17 PM
    Author     : lexis
*/

body{
    background-image: url('../img/skol.jpg') !important;
}
.btn.btn-fill, .navbar .navbar-nav > li > a.btn.btn-fill{
    padding-left: 132px !important;
    padding-right: 132px !important;
    border-radius: 5px !important;
}

.card .card-title{
    padding-left: 120px !important;
}



.login-page > .content, .lock-page > .content{
    padding-top: 14vh !important;
}